@{
    var bannersList = this.ViewBag.BannersList;
}
@if (bannersList != null)
{
    for (int i = 0; i < bannersList.Count; i++)
    {
        <div class="item @(i==0?"active":string.Empty)" data-placeholder="@bannersList[i].Text3">
            <img class="first-slide img-desktop" src="~/BannerImages/@bannersList[i].ImageName" alt="@bannersList[i].Text1">
            @*<img class="first-slide img-small" src="~/BannerImages/@bannersList[i].ImageNameMobileS" alt="@bannersList[i].Text1">*@
            @*<img class="first-slide img-medium" src="~/BannerImages/@bannersList[i].ImageNameMobileM" alt="@bannersList[i].Text1">*@
            @*<img class="first-slide img-large" src="~/BannerImages/@bannersList[i].ImageNameMobileL" alt="@bannersList[i].Text1">
            <img class="first-slide img-tab" src="~/BannerImages/@bannersList[i].ImageNameMobileT" alt="@bannersList[i].Text1">
            <img class="first-slide img-laptop" src="~/BannerImages/@bannersList[i].ImageNameMobileLaptop" alt="@bannersList[i].Text1">*@
            <div class="container no-left-margin">
                <div class="carousel-caption">
                    <h1 class="top-heading-style"><span class="carousel-title"> @bannersList[i].Text1 </span></h1>
                </div>
            </div>
            <div class="carousel-bottom-container">
                @*<div class="carousel-bottom">
                    <p>Get <span> ₹</span>2,000 off on your first booking</p>
                    <span style="cursor:pointer;" onclick="SignInSignUp('signup', true);">sign up now <span class="glyphicon glyphicon-menu-right"></span></span>
                </div>*@
                <div class="carousel-bottom-explore" >
                    <p>EXPLORE GREAT OFFERS</p>
                    <span class="glyphicon glyphicon-menu-down"></span>
                </div>
                <div class="carousel-deal-name hidden-xs">
                    <a href="@bannersList[i].RedirectUrl" target="_blank"><p>@bannersList[i].Text2</p></a>
                    <div class="index-container">
                        <span class="chevron-left-white" onclick="HomeCarousalLeft()"></span><span class="carousel-index"> @(i + 1) / @bannersList.Count </span><span class="chevron-right-white" onclick="HomeCarousalRight()"></span>
                    </div>
                </div>
            </div>
        </div>
    }

}
else
{
    <div class="item active">
        <img class="first-slide" src="~/images/home_page_banner.png" alt="First slide">
        <div class="container left-margin">
            <div class="carousel-caption">
                <span class="carousel-title">Where's your next big dream getaway?</span>
            </div>
            @*<div class="carousel-bottom">
                <p>Get <span> <i class="fa fa-inr" aria-hidden="true"></i></span>2,000 off on your first booking</p>
                <span>sign up now <span class="glyphicon glyphicon-menu-right"></span></span>
            </div>*@
            <div class="carousel-bottom-explore">
                <p>EXPLORE GREAT OFFERS</p>
                <span class="glyphicon glyphicon-menu-down"></span>
            </div>
            <div class="carousel-deal-name">
                <p>RADISSON BLU1, MAURITIUS</p>
                <div class="index-container">
                    <span class="chevron-left-white" onclick="HomeCarousalLeft()"></span><span class="carousel-index"> 1 / 3 </span><span class="chevron-right-white" onclick="HomeCarousalRight()"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <img class="second-slide" src="~/images/home_page_banner.png" alt="Second slide">
        <div class="container left-margin">
            <div class="carousel-caption">
                <span class="carousel-title">Where's your next big dream getaway?</span>
            </div>
            @*<div class="carousel-bottom">
                <p>Get <span> <i class="fa fa-inr" aria-hidden="true"></i></span>2,000 off on your first booking</p>
                <span>sign up now <span class="glyphicon glyphicon-menu-right"></span></span>
            </div>*@
            <div class="carousel-bottom-explore">
                <p>EXPLORE GREAT OFFERS</p>
                <span class="glyphicon glyphicon-menu-down"></span>
            </div>
            <div class="carousel-deal-name">
                <p>RADISSON BLU2, MAURITIUS</p>
                <div class="index-container">
                    <span class="chevron-left-white" onclick="HomeCarousalLeft()"></span><span class="carousel-index"> 2 / 3 </span><span class="chevron-right-white" onclick="HomeCarousalRight()"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <img class="second-slide" src="~/images/home_page_banner.png" alt="Third_slide">
        <div class="container left-margin">
            <div class="carousel-caption">
                <span class="carousel-title">Where's your next big dream getaway?</span>
            </div>
            @*<div class="carousel-bottom">
                <p>Get <span> <i class="fa fa-inr" aria-hidden="true"></i></span>2,000 off on your first booking</p>
                <span>sign up now <span class="glyphicon glyphicon-menu-right"></span></span>
            </div>*@
            <div class="carousel-bottom-explore">
                <p>EXPLORE GREAT OFFERS</p>
                <span class="glyphicon glyphicon-menu-down"></span>
            </div>
            <div class="carousel-deal-name">
                <p>RADISSON BLU3, MAURITIUS</p>
                <div class="index-container">
                    <span class="chevron-left-white" onclick="HomeCarousalLeft()"></span><span class="carousel-index"> 3 / 3 </span><span class="chevron-right-white" onclick="HomeCarousalRight()"></span>
                </div>

            </div>
        </div>
    </div>
}

<script>
    function OpenBannerOffer(e) {
        var url = $(e).data('url');
        if (url == '' || url == null) {
            return false;
        }
        window.open(url, '_blank');
    }
</script>
