@model IList<UpComingDealsViewModel>
@if (Model != null && Model.Count() > 0)
{
    <div class="container">
        <div class="recently-home"><h2 class="mainHeading">Coming Soon</h2></div>
        <div class="currently-on-sale-box">
            <div class="row deal-offer-rect-sale-box regular slider" data-afterimages="3">
                @foreach (var item in Model)
                {
                    var redirectController = item.Type == Enums.CurrentDealType.Package ? Constants.Package : Constants.Deal;
                    var ispackage = item.Type == Enums.CurrentDealType.Package;
                <div class="col-sm-4">
                    <div class="coming_soon">
                        <div class="remind"><a href="javascript:;" data-dealid="@item.Id" data-dealtype="@item.Type" class="reminder">@(item.IsReminded ? "Reminer Set" : "Remind Me")</a></div>
                        <a href="@("/"+redirectController+"/details/"+(ispackage?item.UrlTitle.ToLower() : item.Id + "/" + SpecialChars.Remove(item.Name)))" class="availability" data-dealid="@item.Id">
                            <div class="coming-list-main-box">
                                <div class="coming_soon hover14">
                                    <figure>
                                        <img src="@(item.ImagesName!=null ? ("/packages/"+item.ImagesName) : "/images/not-found.jpg")" onerror="this.src='/images/not-found.jpg'"
                                             class="img-responsive img-full" alt="deal-package-image" title="" style="width:553px;height:200px" />
                                    </figure>
                                </div>
                                <div class="coming-soon-img-tex-bg">
                                    <div class="row">
                                        <div class="col-xs-8 col-sm-9 coming_soon_text">
                                            <h3>@item.CityName</h3>
                                            <p>@item.Name</p>
                                        </div>
                                        @if (item.Discount > 0)
                                        {
                                            <div class="col-xs-4 col-sm-3">
                                                <div class="coming_soon_price">
                                                    <h4>Up to <br /><span>@item.Discount.ToAmount(true)%</span><br /> off</h4>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
                }
            </div>
        </div>
    </div>
    <script>
        $(function () {
            initSlickSlider();
            $(".reminder").click(function () {
                var $element = $(this);
                var packgaeId = $element.data("dealid");
                var type = $element.data("dealtype");
                showWaitProcess()
                $.ajax({
                    url: '/deal/PackageReminder',
                    method: "POST",
                    data: { packgaeId: packgaeId, type: type },
                    success: function (data) {
                        if (data.loginstatus) {
                            $element.html(data.isremind ? reminderset : remiderreset);
                            hideWaitProcess();
                        }
                        else {
                            window.location.href = "/user";
                        }

                    },
                    complete: function () {
                        hideWaitProcess();
                    },
                })
            })
        });
    </script>
}
