@model HiTours.Models.ImageGalleryViewModel
<!-- Modal -->
@if (!this.ViewBag.IsMobileView)
{
    <div class="modal fade hidden-xs" id="galleryModal" role="dialog">
        <div class="modal-dialog gallery_modal_dialog">

            <!-- Modal content-->
            <div class="modal-content gallery-model-content">
                <div class="gallery-model-Header">
                    <button type="button" class="close gallery-model-close" data-dismiss="modal"><img src="~/images/Close_Icon.svg" alt="close_icon" class="image-small-24" /></button>
                    <h4 class="gallery-modal-title">Image Gallery</h4>
                    <hr class="hr-grey-bottom w75">
                </div>
                <div class="gallery-modal-body">
                    <div class="gallery-carousel">
                        <div id="galleryCarousel" class="carousel slide gallery_carousel_thumbnail" data-interval="false">
                            @*<div id="galleryCarousel" class="carousel slide gallery_carousel_thumbnail" data-interval="false" data-ride="carousel">*@

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner gallery-carousel-inner">
                                @for (int i = 0; i < Model.DealsImageViewModels.Count; i++)
                                {
                                    <div class="item @(i == 0 ? "active": string.Empty)" data-count="@(i)" data-caption="@Model.DealsImageViewModels[i].Caption">
                                        <div class="col-xs-12 col-sm-4" id="remove-caption">
                                            <img src="~/DealImages/@Model.DealsImageViewModels[i].Image" alt="@(string.IsNullOrEmpty(@Model.DealsImageViewModels[i].Caption)?"deal-image":@Model.DealsImageViewModels[i].Caption)" />

                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="gallery-navigation gallery-navigation-left">
                                <a href="javascript:;" role="button" onclick="GalleryCarousalLeft()"><img src="~/images/Gallery_left_icon.svg" alt="Gallery_left_icon" class="scrollleft image-small-48" /></a>
                            </div>
                            <div class="gallery-navigation gallery-navigation-right">
                                <a href="javascript:;" role="button" onclick="GalleryCarousalRight()"><img src="~/images/Gallery_right_icon.svg" alt="Gallery_left_icon" class="scrollright image-small-48" /></a>
                            </div>

                        </div>
                        <!--/.Carousel Wrapper-->
                    </div>
                    <div class="gallery-carousel-bottom ">
                        <!-- Indicators -->
                        <div class="col-sm-12 col-md-12 col-lg-12 gallery-carousel-caption">

                            <h3 class="gallery-carousel-title">@Model.DealsImageViewModels.Select(x => x.Caption).FirstOrDefault()</h3>
                            @*<p class="gallery-carousel-description">@Model.Select(x => x.Caption).FirstOrDefault()</p>*@
                            <div class="gallery-carousel-arrow">
                                <a href="javascript:;" role="button" onclick="GalleryCarousalLeft()"><img src="~/images/Chevron_left_pink.svg" alt="left_arrow" class="image-small-24" /></a> <span> <span class="current-slide-number">1</span> / @Model.DealsImageViewModels.Count </span>
                                <a href="javascript:;" role="button" onclick="GalleryCarousalRight()"><img src="~/images/Chevron_Right_Pink.svg" alt="right_arrow" class="image-small-24" /></a>

                            </div>

                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-8">


                            <ol class="gallery-indicators">
                                @for (int i = 0; i < Model.DealsImageViewModels.Count; i++)
                                {
                                    <li data-target="#galleryCarousel" data-slide-to="@i" data-name="@Model.DealsImageViewModels[i].Image" class="@(i == 0? "active": string.Empty)"><img src="~/DealImages/@Model.DealsImageViewModels[i].Image" alt="gallery_thumbnail" /></li>
                                }
                            </ol>
                        </div>

                        <div id="" class="carousel gallery-carousel-review-container carousel-fade slide col-sm-12 col-md-12  col-lg-4">
                            @*<div id="" class="carousel gallery-carousel-review-container carousel-fade slide col-sm-12 col-md-12  col-lg-4" data-ride="carousel">*@


                            <!-- Wrapper for slides -->
                            <div class="carousel-inner gallery-carousel-review-inner">
                                @if (Model.ProductReviewViewModels != null)
                                {
                                    for (int i = 0; i < Model.ProductReviewViewModels.Count; i++)
                                    {
                                        var item = Model.ProductReviewViewModels[i];

                                        <div class="item @(i==0 ? "active":string.Empty) gallery-carousel-review">
                                            <img src="~/images/Blockquote Icon.svg" alt="quote-icon" />
                                            <p>
                                                @item.Review
                                            </p>
                                            <h3>@item.Name</h3>
                                            <h4>@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.ReviewDate.Month)  @item.ReviewDate.Year</h4>
                                        </div>

                                    }
                                }

                                @*<div class="item active gallery-carousel-review">
                                        <img src="~/images/Blockquote Icon.svg" alt="quote-icon" style="width:65px; height:50px;" />
                                        <p>
                                            It’s an amazing villa in the center of Seminyak. Really close to many good restaurants and beach clubs.<br>
                                            Amazing swimming pool—and this is what I like about this villa so much—the water didn’t make my eyes sore.<br>
                                            For sure will come back and stay at this place again.
                                        </p>
                                        <h3>Yung Park</h3>
                                        <h4>July 2018</h4>

                                    </div>

                                    <div class="item gallery-carousel-review">
                                        <img src="~/images/Blockquote Icon.svg" alt="quote-icon" style="width:65px; height:50px;" />
                                        <p>
                                            It’s an amazing villa in the center of Seminyak. Really close to many good restaurants and beach clubs.<br>
                                            Amazing swimming pool—and this is what I like about this villa so much—the water didn’t make my eyes sore.<br>
                                            For sure will come back and stay at this place again.
                                        </p>
                                        <h3>Park Yung</h3>
                                        <h4>June 2018</h4>

                                    </div>

                                    <div class="item gallery-carousel-review">
                                        <img src="~/images/Blockquote Icon.svg" alt="quote-icon" style="width:65px; height:50px;" />
                                        <p>
                                            It’s an amazing villa in the center of Seminyak. Really close to many good restaurants and beach clubs.<br>
                                            Amazing swimming pool—and this is what I like about this villa so much—the water didn’t make my eyes sore.<br>
                                            For sure will come back and stay at this place again.
                                        </p>
                                        <h3>Yung Park</h3>
                                        <h4>August 2018</h4>
                                    </div>*@



                            </div>




                        </div>
                    </div>



                </div>


            </div>

        </div>
    </div>
}
else
{
    <section id="mobile-gallery-xs" class="mobile-gallery-xs">


        @*<div id="MobileGallery" class="carousel carousel-fade slide mobile_gallery hidden-sm hidden-md hidden-lg" data-interval="false" data-ride="carousel">*@
        <div id="MobileGallery" class="carousel carousel-fade slide mobile_gallery hidden-sm hidden-md hidden-lg" data-interval="false">

            <div class="col-xs-12 mobile-gallery-header">
                <span class="mobile-gallery-left-arrow" id="mobile_gallery_close"><img src="~/images/left_arrow.svg" alt="left_arrow" /></span><span>Image Gallery</span><span class="mobile-gallery-share-icon"><img src="~/images/Share_Icon.svg" alt="share_icon" /></span>
            </div>
            <div class="carousel-inner mobile-gallery-inner slick-mobile-gallery">
                @for (int i = 0; i < Model.DealsImageViewModels.Count; i++)
                {
                    <div class="item @(i == 0 ? "active": string.Empty)" data-count="@(i)" data-caption="@Model.DealsImageViewModels[i].Caption">
                        <div class="col-xs-12 gallery-mobile-image" id="remove-caption">
                            <img src="~/DealImages/@Model.DealsImageViewModels[i].Image" alt="Gallery_main_image" />

                        </div>
                    </div>
                }


            </div>

            <!-- Indicators -->

            <div class="col-xs-12 mobile-gallery-caption">

                <h3 class="mobile-gallery-title">@Model.DealsImageViewModels.Select(x => x.Caption).FirstOrDefault()</h3>
            </div>

            <ol class="mobile-gallery-indicators">
                @for (int i = 0; i < Model.DealsImageViewModels.Count; i++)
                {
                    <li data-target="#MobileGallery" data-slide-to="@i" data-name="@Model.DealsImageViewModels[i].Image" class="@(i == 0? "active": string.Empty)"><img src="~/DealImages/@Model.DealsImageViewModels[i].Image" alt="gallery_thumbnail" /></li>
                }

            </ol>
            @*<div id="" class="carousel mobile-gallery-review-container carousel-fade slide col-xs-12" data-ride="carousel">*@
            <div id="" class="carousel mobile-gallery-review-container carousel-fade slide col-xs-12">


                <!-- Wrapper for slides -->
                <div class="mobile-gallery-review-inner">
                    @if (Model.ProductReviewViewModels != null)
                    {
                        for (int i = 0; i < Model.ProductReviewViewModels.Count; i++)
                        {
                            var item = Model.ProductReviewViewModels[i];

                            <div class="item @(i==0 ? "active":string.Empty) mobile-gallery-review">
                                <img src="~/images/Blockquote Icon.svg" alt="quote-icon" />
                                <p>
                                    @item.Review
                                </p>
                                <h3>@item.Name</h3>
                                <h4>@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.ReviewDate.Month)  @item.ReviewDate.Year</h4>
                            </div>
                        }
                    }

                    @*<div class="item active mobile-gallery-review">
                            <img src="~/images/Blockquote Icon.svg" alt="quote-icon" style="width:65px; height:50px;" />
                            <p>
                                It’s an amazing villa in the center of Seminyak. Really close to many good restaurants and beach clubs.<br>
                                Amazing swimming pool—and this is what I like about this villa so much—the water didn’t make my eyes sore.<br>
                                For sure will come back and stay at this place again.
                            </p>
                            <h3>Yung Park</h3>
                            <h4>July 2018</h4>

                        </div>

                        <div class="item mobile-gallery-review">
                            <img src="~/images/Blockquote Icon.svg" alt="quote-icon" style="width:65px; height:50px;" />
                            <p>
                                It’s an amazing villa in the center of Seminyak. Really close to many good restaurants and beach clubs.<br>
                                Amazing swimming pool—and this is what I like about this villa so much—the water didn’t make my eyes sore.<br>
                                For sure will come back and stay at this place again.
                            </p>
                            <h3>Park Yung</h3>
                            <h4>June 2018</h4>

                        </div>

                        <div class="item mobile-gallery-review">
                            <img src="~/images/Blockquote Icon.svg" alt="quote-icon" style="width:65px; height:50px;" />
                            <p>
                                It’s an amazing villa in the center of Seminyak. Really close to many good restaurants and beach clubs.<br>
                                Amazing swimming pool—and this is what I like about this villa so much—the water didn’t make my eyes sore.<br>
                                For sure will come back and stay at this place again.
                            </p>
                            <h3>Yung Park</h3>
                            <h4>August 2018</h4>
                        </div>*@

                </div>

            </div>

        </div>




    </section>
}





@*//Image_Gallery_for_Mobile_view*@







@*//Image_Gallery_for_Mobile_view*@











