
@{
    ViewData["Title"] = "Blogs";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    string title = string.Empty;
    if (this.ViewBag.Mode == "feature")
    {
        title = "Feature Blog";
    }
    if (this.ViewBag.Mode == "sub")
    {
        title = "Sub Blog";
    }

}
<div class="row">
    <div class="col-md-12">
        <div class="box no-top-border">
            <div class="box-header with-border">
                <h3 class="box-title">@title</h3>
                <div class="pull-right top-buttons">
                    <a id="anchorAddNew" href="@Url.Action("Manage",new { @mode = this.ViewBag.Mode ,@id=0}) " class="form-control btn-form-control btn-form-control-sm btn-has-count  btn-primary">
                        <i class="fa fa-plus"></i>&nbsp;
                        Add Curation
                    </a>
                </div>
            </div>
            @this.Html.Partial("_DataTableGrid")
        </div>
    </div>
</div>
@section scripts {
<script>
        $(function () {
            BindGrid({
                url: "@Url.Action("Index", new { @mode = this.ViewBag.Mode})",
                columns: [
                    { "data": "Line1", "title": "Line 1", "type": "string"},
                    { "data": "Line2", "title": "Line 2", "type": "string" },
                    @if(this.ViewBag.Mode != "feature")
                    {
                        @:{ "data": "Line3", "title": "Line 3", "type": "string" },
                    }
                    { "data": "Url", "title": "Redirect Url", "type": "string" },
                    { "data": "CreatedDate", "title": "Created Date", "type": "string" },
                    {
                        "data": "IsActive",
                        "title": " Active Status",
                        "class": "text-center",
                        "type": "bool", "width": '15%',
                        mRender: function (data, type, record) {
                                    var url = '@Url.GetAdminUrl("Blog", "ChangeActiveStatus")/' + record.Id;
                                    return appendToggleCheckBox(url, record.IsActive, 'Successfully Activated', 'Successfully DeActivated')
                        }
                    },
                    {
                        "data": null,
                        "title": "Action",
                        "targets": -1,
                        "width": '15%',
                        "class": "column-action text-center",
                        "shorting": false,
                        "orderable": false,
                        "mRender": function (data, type, record) {
                                    var manageUrl = "@Url.Action("manage", "Blog", new {@mode = this.ViewBag.Mode })" + "&id=" + record.Id;
                                    var action = "";
                                    ////action += '<a class="form-control btn-default" href="@Url.GetAdminUrl("tourpackage", "PackageNights")/' + record.Id + '" title="Add Package Nights"><i class="fa fa-plus"></i>&nbsp;</a>';
                                    action += '<a class="form-control btn-success" href="' + manageUrl + '"><i class="fa fa-edit"></i>&nbsp;</a>';
                                    action += '<a class="form-control btn-danger delete-row" data-delete href="@Url.GetAdminUrl("Blog", "delete")/' + record.Id+ '"><i class="fa fa-trash-o"></i>&nbsp;</a>';
                                    return action;
                        }
                    }]
            });
        });

</script>
}

