@model List<DealsRatePlanViewModel>
<table id="tpimages" class="table table-standard table-bordered invoice-tabel-2">
    <thead>
        <tr>
            <th>Plan Name</th>
            <th>Valid From</th>
            <th>Valid To</th>
            <th>Currency</th>
            <th>Price (DBO)</th>
            <th>Price (SBO)</th>
            <th>Ex Adult</th>
            <th>Ex Child WB</th>
            <th>Ex Child NB</th>
            <th>Ex Infant</th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Name</td>
            <td>@item.ValidFrom.ToString("dd/MM/yyyy")</td>
            <td>@item.ValidTo.ToString("dd/MM/yyyy")</td>
            <td>@item.CurrencyName</td>
            <td>@item.Price</td>
            <td>@item.SingleSupplement</td>
            <td>@item.ExtraAdult</td>
            <td>@item.ExtraChild_WB</td>
            <td>@item.ExtraChild_NB</td>
            <td>@item.ExtraInfant</td>

            <td valign="middle">
                <button class="btn btn-sm btn-default" onclick="EditInventory(@item.Id, '@item.Name', '@item.CurrencyName','false', '0');"><i class="fa fa-info-circle"></i></button> @*Night Id is Zero , Coz not need in Hotel Deals*@
                <button class="btn btn-sm btn-success" onclick="EditRatePlan(@item.Id);"><i class="fa fa-edit"></i></button>
                <button class="btn btn-sm btn-danger" onclick="DeleteRatePlan(@item.Id);"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
        }

    </tbody>
    @*<tfoot>
        <tr>
            <td colspan="6" style="text-align:right"><a href="javascript:void(0);" class="btn btn-primary add_button">+ Add Policy</a></td>
        </tr>
    </tfoot>*@
</table>