@model DealsPackageViewModel
@{ 
    var destinationTag = Model.Type == 1 ? "Locations" : "Destinations";
}  
<form asp-antiforgery="true" id="formDealsPackage" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Type" />
    <input type="hidden" asp-for="Code" />
    <input type="hidden" asp-for="IsActive" />
    <input type="hidden" asp-for="IsLive" />
    <input type="hidden" asp-for="UpdatedBy" />
    <input type="hidden" asp-for="UpdatedDate" />
    <input type="hidden" asp-for="CreatedBy" />
    <input type="hidden" asp-for="CreatedDate" />
    <input type="hidden" asp-for="ViewCount" />
    <input type="hidden" asp-for="MinPrice" />

    <div class="row" style="margin-left:0px; margin-right:0px;">
        @if (Model.Type == 1)
        {
        <input asp-for="IsFixedDeparture" type="hidden" />
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Hotelier</label>
                <div class="input-group">
                    <select asp-for="HotelierId" class="form-control" select2-Placeholder="Select Hotelier" select2-Multiple="false" asp-items="Model.HotelierItems" select2-value="@Model.HotelierId" select2-Url="/Selectlist/GetHoteliersForDeal"></select>
                    <span class="input-group-addon"><a href="/admin/hotelier/manage?infoId=0&vendorId=0" target="_blank"><i class="fa fa-plus"></i></a></span>
                </div>

            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Length of Stay</label>
                <select asp-for="LengthOfStay" class="form-control" select2-Multiple="false"
                        select2-value="@Model.LengthOfStay">
                    @for (int i = 1; i <= 30; i++)
                    {
                        <option value="@i">@i Nights</option>
                    }
                </select>
                <input type="hidden" asp-for="Nights" value="0" />
                <span asp-validation-for="LengthOfStay"></span>
            </div>
        </div>
        <h5 class="invisible" style="margin-left:15px;"> Passenger Combinations </h5>
        }
        <div class="form-group col-md-6">
            <label asp-for="Name"></label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                <input data-limit="62" asp-for="Name" class="form-control counter-input" placeholder="Deal Name">
            </div>
            <span asp-validation-for="Name"></span>
            <h6 class="pull-right counter"></h6>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Url"></label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                <input asp-for="Url" class="form-control" placeholder="Deal unique url">
            </div>
            <span asp-validation-for="Url"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="TravelStyles"></label>
            <select asp-for="TravelStyles" selected="@Model.TravelStyles" class="form-control packagecountry" asp-items="@this.ViewBag.TravelStyle"
                    select2-value="@Model.TravelStyle"></select>
            <span asp-validation-for="TravelStyles"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="TravelCategories"></label>
            <select asp-for="TravelCategories" selected="@Model.TravelCategories" class="form-control packagecountry" asp-items="@this.ViewBag.TravelCategories"
                    select2-value="@Model.TravelCategories"></select>
            <span asp-validation-for="TravelCategories"></span>
        </div>
    </div>
    <div class="row" style="margin-left:0px; margin-right:0px;">
        <div class="form-group col-md-4">
            <label asp-for="MarkUp"></label>
            <input asp-for="MarkUp" class="form-control" type="text" placeholder="Mark Up Percentage">
            <span asp-validation-for="MarkUp"></span>
        </div>
    </div>
    <hr />
    @if (Model.Type == 2 || Model.Type == 3)
    {
    <div class="row" style="margin-left:0px;margin-right:0px;">
        <div class="form-group col-md-3">
            <label asp-for="IsFixedDeparture"></label>
            <input asp-for="IsFixedDeparture" type="checkbox" class="minimal">
        </div>
    </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="Nights"></label>
                @if (Model.Id > 0)
                {
                    <select asp-for="Nights" class="form-control" multiple
                            select2-value="@Model.Nights" disabled>
                        @for (int i = 1; i <= 30; i++)
                        {
                            <option value="@i">@i Nights - @(i + 1) Days</option>
                        }
                    </select>
                }
                else
                {
                    <select asp-for="Nights" class="form-control" multiple
                    select2-value="@Model.Nights">
                        @for (int i = 1; i <= 30; i++)
                        {
                            <option value="@i">@i Nights - @(i + 1) Days</option>
                        }
                    </select>

                }

                <span asp-validation-for="Nights"></span>
            </div>
        </div>

        @*<div class="form-row">
            <div class="form-group col-md-12">
                <label>Max Travellers</label>
                <select id="MaxTravellers" class="form-control">
                    <option>Select Travellers</option>
                    @for (int i = 1; i <= 30; i++)
                    {
                        if (i != this.ViewBag.MaxPassenger)
                        {
                            <option value="@i">@i Travellers</option>
                        }
                        else
                        {
                            <option selected value="@i">@i Travellers</option>
                        }
                    }
                </select>
            </div>
        </div>*@
        <h5 class="invisible" style="margin-left:15px;">Passenger Combinations </h5>

    }
    else 
    {
        <h5 class="invisible" style="margin-left:15px;">Passenger Combinations </h5>
    }


    <div class="panel-group" id="accordion">
        @if (Model.Type == 2 || Model.Type == 3)
        {
            @*<div class="panel">
                <div class="panel-heading bg-gray-active">
                    <h5 class="panel-title ">
                        <a data-toggle="collapse" class="" data-parent="#accordion" href="#collapse_PaxCombination"><i class="fa fa-fw fa-users"></i> Passenger Combinations</a>
                    </h5>
                </div>
                <div id="collapse_PaxCombination" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="form-row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="tax-tabel-wrap">
                                        <div class="table-responsive">
                                            <table id="packagePaxCombination" class="table table-standard table-bordered invoice-tabel-2">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">Adult</th>
                                                        <th class="text-center">Child </th>
                                                        <th class="text-center">Infant</th>
                                                        <th class="text-center">Adult Age (Min)</th>
                                                        <th class="text-center">Child Age(Min)</th>
                                                        <th class="text-center" style="width:30px;"><i class="fa fa-trash"></i></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (this.Model.GetDealsPaxCombinationViewModels.Count > 0)
                                                    {
                                                        @foreach (var destination in this.Model.GetDealsPaxCombinationViewModels)
                                                        {
                                                            @this.Html.Partial("_AddPaxCombination", destination)
                                                        }
                                                    }
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                        <a id="addpaxcombination" href="javascript:void(0);" title="Add Pax Combination" class="btn add-row-btn btn-primary pull-right addpaxcombination">+ Add Combination</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        }
        <div class="panel">
            <div class="panel-heading bg-gray-active">
                <h5 class="panel-title ">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse_destinations"><i class="fa fa-fw fa-map-marker"></i> @destinationTag</a>
                </h5>
            </div>
            <div id="collapse_destinations" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="tax-tabel-wrap">
                                    <div class="table-responsive">
                                        <table id="packageDestinations" class="table table-standard table-bordered invoice-tabel-2">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" style="width:20%">Country</th>
                                                    <th class="text-center" style="width:20%">State</th>
                                                    <th class="text-center" style="width:20%">City</th>
                                                    <th class="text-center" style="width:20%">Area</th>
                                                    <th class="text-center" style="width:15%">Visa Required</th>
                                                    <th class="text-center" style="width:5%"><i class="fa fa-trash"></i></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (this.Model.DealsDestinationViewModels.Count > 0)
                                                {
                                                    @foreach (var destination in this.Model.DealsDestinationViewModels)
                                                    {
                                                        @this.Html.Partial("_AddDestination", destination)
                                                    }
                                                }
                                                else
                                                {
                                                    @this.Html.Partial("_AddDestination", new DealsDestinationViewModel() { PackageId = Model.Id })
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <a id="addrow" href="javascript:void(0);" title="Add City" class="btn add-row-btn btn-primary addnewdestination">+ Add @destinationTag</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading bg-gray-active">
                <h5 class="panel-title ">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse_bookingValidity"><i class="fa fa-fw fa-calendar-check-o"></i> Booking Validtity</a>
                </h5>
            </div>
            <div id="collapse_bookingValidity" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="tax-tabel-wrap">
                                    <div class="table-responsive">
                                        <table id="packageBookingValidity" class="table table-standard table-bordered invoice-tabel-2">
                                            <thead>
                                                <tr>
                                                    <th class="text-center"><i class="fa fa-fw fa-calendar"></i> Valid From</th>
                                                    <th class="text-center"><i class="fa fa-fw fa-calendar"></i> Valid To</th>
                                                    <th class="text-center" style="width:30px;"><i class="fa fa-fw fa-trash"></i></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (this.Model.DealsBookingValidityViewModels.Count > 0)
                                                {
                                                    @foreach (var bookingValidation in this.Model.DealsBookingValidityViewModels)
                                                    {
                                                        @this.Html.Partial("_AddBookingValidity", bookingValidation)
                                                    }
                                                }
                                                else
                                                {
                                                    @this.Html.Partial("_AddBookingValidity", new DealsBookingValidityViewModel() { PackageId = Model.Id, ValidFrom = DateTime.Now, ValidTo = DateTime.Now.AddDays(15) })
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <a id="addrow" href="javascript:void(0);" title="Add City" class="btn add-row-btn btn-primary addNewBookingValidity">+ Add Booking Validity</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        @this.Html.ButtonBottom(new[] { new Button(Enums.ButtonType.SaveandReload), new Button(Enums.ButtonType.SubmitAndNext), new Button(Enums.ButtonType.SubmitAndClose) })
    </div>
</form>
<script>
    $(document).on('click', ".addnewdestination", function (e) {
        $.get('/Admin/Deals/AddDestination/' + $('#Id').val(), function (result) {
            $('#packageDestinations tbody').append(result);
            initSelect2();
        })
    });
    $(document).on('click', ".addNewBookingValidity", function (e) {
        var val = $('#packageBookingValidity tbody').find('.bookingvalidto').last().val();
        $.get('/Admin/Deals/AddBookingValidity?packageId=' + $('#Id').val() + '&lastDate=' + val, function (result) {
            $('#packageBookingValidity tbody').append(result);
            initPluggins();
            //$("#packageBookingValidity tbody .datepicker-boot").datepicker({ dateFormat: "dd/MM/yyyy" });
        })
    });
    $(document).on('click', ".addpaxcombination", function (e) {

        $.get('/Admin/Deals/AddPaxCombination/packageId=' + $('#Id').val() + '&maxPassenger=' + $('#MaxTravellers').val(), function (result) {
            $('#packagePaxCombination tbody').append(result);
            initSelect2();
        })
    });
    $(document).on('click', '.delete-item-row', function (e) {
        e.preventDefault();
        var row = $(this).closest('tr');
        $(row).find('.delete_row').val(true);
        $(row).hide();
    })
    $(document).ready(function (e) {
        $('.counter-input').each(function (index, element) {
            $(this).closest('div.form-group').find('h6').html($(this).val().length + "/" + $(this).data('limit') + " Characters");
            if ($(this).val().length > $(this).data('limit')) {
                $(this).closest('div.form-group').find('h6').css({ 'color': 'red' });
            }
            else {
                $(this).closest('div.form-group').find('h6').css({ 'color': 'black' });
            }
        });
        $(document).on('keyup', '.counter-input', function (e) {
            debugger;
            $(this).closest('div.form-group').find('h6').html($(this).val().length + "/" + $(this).data('limit') + "Characters");
            if ($(this).val().length > $(this).data('limit')) {
                $(this).closest('div.form-group').find('h6').css({ 'color': 'red' });
            }
            else {
                $(this).closest('div.form-group').find('h6').css({ 'color': 'black' });
            }
        });
    });
</script>