@{ this.ViewBag.Title = "Country List"; }
@model CategoryViewModel
<div class="row">
    <div class="col-md-12">
        <div class="box no-top-border">
            <div class="box-header with-border">
                <h3 class="box-title">@this.ViewBag.Title</h3>
                @*<div class="pull-right top-buttons">
                    @this.Html.ButtonTop(new[] { new Button(Enums.ButtonType.AddNew, "/admin/city/manage") })
                </div>*@
            </div>
            @this.Html.Partial("_DataTableGrid")
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(function () {
            BindGrid({
                url: "@Url.Action("Index")",
                columns: [
                    { "data": "Name", "title": "Country Name", "type": "string" },
                    { "data": "RegionName", "title": "Region Name", "type": "string" },
                    { "data": "Description", "title": "Description", "type": "string" },
                    { "data": "PhoneCode", "title": "Phone Code", "type": "string" },
                    {
                        "data": "IsActive",
                        "title": " Active Status",
                        "class": "text-center",
                        "type": "bool", "width": '15%', mRender: function (data, type, record) {
                            var url = '@Url.GetAdminUrl("Country", "ChangeActiveStatus")/' + record.Id;
                            return appendToggleCheckBox(url, record.IsActive, 'Successfully Activated', 'Successfully DeActivated')
                        }
                    },
                    {
                        "data": null, "title": "Action",
                        "targets": -1,
                        "width": '15%',
                        "class": "column-action text-center",
                        "shorting": false,
                        "orderable": false,
                        "mRender": function (data, type, record) {
                            console.log(record);
                            var action = "";
                            ////action += '<a class="form-control btn-default" href="@Url.GetAdminUrl("country","manage")/' + record.Id + '"><i class="fa fa-eye"></i>&nbsp;</a>';
                           action += '<a class="form-control btn-success" href="@Url.GetAdminUrl("country", "manage")/' + record.Id+ '"><i class="fa fa-edit" title="Edit"></i>&nbsp;</a>';
                           //// action += '<a class="form-control btn-danger delete-row" data-delete href="@Url.GetAdminUrl("category", "delete")/' + record.ID+ '"><i class="fa fa-trash-o"></i>&nbsp;</a>';
                            return action;

                        }
                    }]
            });
        });

    </script>
}
