<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> @this.ViewBag.Title | Luxury Travel Deals</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link asp-append-version="true" rel="stylesheet" href="~/content/bower/bootstrap/dist/css/bootstrap.min.css">
    <link asp-append-version="true" rel="stylesheet" href="~/content/bower/font-awesome/css/font-awesome.min.css">
    <link asp-append-version="true" rel="stylesheet" href="~/content/bower/bootstrap-daterangepicker/daterangepicker.css">
    <link asp-append-version="true" rel="stylesheet" href="~/content/bower/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link asp-append-version="true" rel="stylesheet" href="~/content/plugins/iCheck/all.css">
    <link asp-append-version="true" href="~/content/plugins/bootstrap-toggle/bootstrap-toggle.min.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/content/plugins/waitme/waitMe.css" rel="stylesheet" />
    @*<link asp-append-version="true" rel="stylesheet" href="~/content/bower/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">*@
    @*<link asp-append-version="true" rel="stylesheet" href="~/content/plugins/timepicker/bootstrap-timepicker.min.css">*@
    <link asp-append-version="true" rel="stylesheet" href="~/content/bower/select2/dist/css/select2.min.css">
    <link href="~/content/bower/datatables.net-bs/css/dataTables.bootstrap.css" rel="stylesheet" />
    @*<link asp-append-version="true" href="~/content/plugins/datatable/css/dataTables.bootstrap.css" rel="stylesheet" />*@
    <link asp-append-version="true" rel="stylesheet" href="~/content/css/AdminLTE.min.css">
    @*<link asp-append-version="true" rel="stylesheet" href="~/content/css/skins/_all-skins.min.css">*@
    <link asp-append-version="true" href="~/content/css/developer.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/content/plugins/sweetalert2/dist/sweetalert2.css" rel="stylesheet" />
    <link href="~/css/intlTelInput.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/content/plugins/timepicker/bootstrap-timepicker.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/css/bootstrap-multiselect.css" rel="stylesheet" />
    @*<link asp-append-version="true" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">*@
    @this.RenderSection("style", false)
    <script>
        var year = @(DateTime.UtcNow.Year);
        var month= @(DateTime.UtcNow.Month - 1);
        var day= @(DateTime.UtcNow.Day );
    </script>

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div id="dvLoading"></div>
    <div data-sweetalert="" data-message="@this.TempData["Message"]" data-message-type="@this.TempData["MessageType"]"></div>
    <div class="wrapper">
        @this.Html.Partial("_Header")
        @await this.Component.InvokeAsync("AdminLayout", new { component = Enums.ViewComponent.LeftMenu })
        <div class="content-wrapper">

            @*<section class="content-header">
                    <h1> @this.ViewBag.HeaderTitle </h1>
                 <ol class="breadcrumb">
                            <li><a href="javascript:;"><i class="fa fa-dashboard"></i> Home</a></li>
                            <li><a href="javascript:;">Forms</a></li>
                            <li class="active">Advanced Elements</li>
                        </ol>
                </section>*@
            <!-- Main content -->
            <section class="content">
                @this.RenderBody()
            </section>
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.4.0
            </div>
            <strong>Copyright &copy; @DateTime.UtcNow.Year <a href="javascript:;">LuxuryTravel.Deals</a></strong>
            All rights reserved.
        </footer>
    </div>

    <script asp-append-version="true" src="~/content/js/jquery-latest.min.js"></script>
    <script asp-append-version="true" src="~/content/bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <script asp-append-version="true" src="~/js/bootstrap-growl.min.js"></script>
    <script asp-append-version="true" src="~/content/bower/select2/dist/js/select2.js"></script>
    <script asp-append-version="true" src="~/content/bower/moment/min/moment.min.js"></script>
    <script asp-append-version="true" src="~/content/bower/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script asp-append-version="true" src="~/content/plugins/waitme/waitMe.js"></script>
    <script asp-append-version="true" src="~/content/plugins/bootstrap-toggle/bootstrap-toggle.min.js"></script>
    <script asp-append-version="true" src="~/content/bower/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script asp-append-version="true" src="~/content/plugins/iCheck/icheck.min.js"></script>
    <script asp-append-version="true" src="~/content/js/jquery.validate.js"></script>
    <script asp-append-version="true" src="~/content/js/jquery.validate.unobtrusive.js"></script>
    <script asp-append-version="true" src="~/content/plugins/datatable/js/jquery.dataTables.js"></script>
    <script asp-append-version="true" src="~/content/plugins/datatable/js/dataTables.bootstrap.js"></script>
    <script asp-append-version="true" src="~/content/js/custom/jquery.format.js"></script>
    <script asp-append-version="true" src="~/content/js/custom/jquery.global.js"></script>
    <script asp-append-version="true" src="~/content/js/custom/jquery.constants.js"></script>
    <script asp-append-version="true" src="~/content/js/custom/jquery.pluggin.js"></script>
    <script asp-append-version="true" src="~/content/js/custom/jquery.custom-datatable.js"></script>
    <script asp-append-version="true" src="~/content/js/custom/jquery.custom.js"></script>
    <script asp-append-version="true" src="~/content/js/adminlte.min.js"></script>
    <script asp-append-version="true" src="~/content/js/demo.js"></script>
    <script asp-append-version="true" src="~/content/plugins/sweetalert2/dist/sweetalert2.js"></script>
    <script asp-append-version="true" src="~/content/plugins/tinymce/jquery.tinymce.min.js"></script>
    <script asp-append-version="true" src="~/content/plugins/tinymce/tinymce.min.js"></script>
    <script asp-append-version="true" src="~/js/tourPackage.js"></script>
    <script asp-append-version="true" src="~/js/intlTelInput.min.js"></script>
    <script asp-append-version="true" src="~/content/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script asp-append-version="true" src="~/js/bootstrap-multiselect.js"></script>
    
    @this.RenderSection("scripts", false)

    <div id="dvModalDynmic" class="modal fade main-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
    <div id="application-modal" class="modal fade main-modal" role="dialog">
        <div class="modal-dialog" style="width:90%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body" style="min-height:100px;padding:0px;">
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            ////var index = 0;
            ////$.xhrPool = {};
            ////$.xhrPool['hash'] = []
            ////$.ajaxSetup({
            ////    beforeSend: function (jqXHR, settings) {

            ////        //$(".loading-results").remove();
            ////        var hash = settings.url; ///+ settings.data
            ////        index = $.xhrPool['hash'].indexOf(hash);

            ////        if ($.xhrPool['hash'].indexOf(hash) === -1) {
            ////            jqXHR.url = settings.url;
            ////            jqXHR.data = settings.data;
            ////            $.xhrPool['hash'].push(hash);
            ////        } else {
            ////            ////console.log('Duplicate request cancelled!');
            ////            //jqXHR.abort();
            ////        }
            ////    }
            ////    ,
            ////    complete: function (jqXHR, settings) {


            ////        //var hash = jqXHR.url; ////+ jqXHR.data
            ////        //if (index > -1) {
            ////        //    $.xhrPool['hash'].splice(index, 1);
            ////        //}

            ////    }
            ////});



            $(document).on("click", '.btnSaveAndSame:submit', function (event) {
                debugger
                $(this).parents('form').find(':hidden[name="CommandButton"]').remove();
                $(this).parents('form').append('<input name="CommandButton" type="hidden" value="' + event.target.name + '" />');
                if ($(this).parents('form').valid()) {
                    var type = $(event.target).text();
                    $(this).parents('form').find(':hidden[name="ButtonActionType"]').remove();
                    $(this).parents('form').append('<input name="ButtonActionType" type="hidden" value="' + type + '" />');
                }
            });


        })
    </script>

</body>
</html>
