@{ this.ViewBag.Title = "Room Rate Plans"; }
@*<div class="row">
    <div class="col-md-12">
        <div class="box no-top-border">
            <div class="box-header with-border">
                <h3 class="box-title">@this.ViewBag.Title</h3>
            </div>

        </div>
    </div>
</div>*@

@this.Html.Partial("_DataTableGrid")
@*@section scripts {*@
    <script>
        $(function () {
            BindGrid({
                url: "@Url.Action("RatePlansGridViewData", "RatePlan",new {@area="Admin",@packageId=this.ViewBag.TourPackageId })",
                columns: [
                    { "data": "RoomName", "title": "Room Name", "type": "string" },
                    { "data": "RP_Name", "title": "Plan Name", "type": "string" },
                    { "data": "RP_SellingPrice", "title": "Selling Price", "type": "string" },
                    { "data": "RP_FakePrice", "title": "Fake Price", "type": "string" },
                    { "data": "RP_ExtraAdultPrice", "title": "Ex Adult Cost", "type": "string" },
                    { "data": "RP_ExtraChildPrice", "title": "Ex Child Cost", "type": "string" },
                    { "data": "RP_ExtraInfantPrice", "title": "Ex Infant Cost", "type": "string" },
                    { "data": "RP_BookingStartDate", "title": "Booking Start Date", "type": "string" },
                    { "data": "RP_BookingEndDate", "title": "Booking End Date", "type": "string" },
                    { "data": "RP_TravelStartDate", "title": "Travel Start Date", "type": "string" },
                    { "data": "RP_TravelEndDate", "title": "Travel End Date", "type": "string" },
                    {
                        "data": "RP_IsActive",
                        "title": "Active Status",
                        "class": "text-center",
                        "type": "bool", mRender: function (data, type, record) {
                            var url = '@Url.GetAdminUrl("RatePlan", "ChangeActiveStatus")/' + record.RI_Id;
                            return appendToggleCheckBox(url, record.RP_IsActive, 'Successfully Activated', 'Successfully DeActivated')
                        }
                    },
                    {
                        "data": null, "title": "Action",
                        "targets": -1,
                        "class": "column-action text-center",
                        "shorting": false,
                        "orderable": false,
                        "mRender": function (data, type, record) {

                            var action = "";
                            ////action += '<a class="form-control btn-default" href="@Url.GetAdminUrl("tourpackage", "PackageNights")/' + record.Id + '" title="Add Package Nights"><i class="fa fa-plus"></i>&nbsp;</a>';
                            ////action += '<a class="form-control btn-success" href="@Url.GetAdminUrl("RoomConfiguration", "tourpackagecreation")/' + record.Id+ '"><i class="fa fa-edit"></i>&nbsp;</a>';
                             action += '<a class="form-control btn-danger delete-row" data-delete href="@Url.GetAdminUrl("RatePlan", "DeleteRatePlan")/' + record.RI_Id+ '"><i class="fa fa-trash-o"></i>&nbsp;</a>';
                            return action;

                        }
                    }]
            });
        });

    </script>
@*}*@