@{ this.ViewBag.Title = "Hotel Package List"; }
<div class="row">
    <div class="col-md-12">
        <div class="box no-top-border">
            <div class="box-header with-border">
                <h3 class="box-title">@this.ViewBag.Title</h3>
                <div class="pull-right top-buttons">
                    <a id="anchorAddNew" href="@Url.Action("hotelcreation")" class="form-control btn-form-control btn-form-control-sm btn-has-count  btn-primary">
                        <i class="fa fa-plus"></i>&nbsp;
                        Add Hotel Package
                    </a>
                </div>
            </div>
            @this.Html.Partial("_DataTableGrid")
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(function () {
            BindGrid({
                url: "@Url.Action("packagehotellist")",
                columns: [
                    { "data": "PackageName", "title": "Hotel Name", "type": "string" },
                    { "data": "PackageValidFrom", "title": "Package Valid From", "type": "string" },
                    { "data": "PackageValidTo", "title": "Package Valid To", "type": "string" },
                    {
                        "data": null, "title": "Action",
                        "targets": -1,
                        "width": '15%',
                        "class": "column-action text-center",
                        "shorting": false,
                        "orderable": false,
                        "mRender": function (data, type, record) {
                             
                            var action = "";
                            ////action += '<a class="form-control btn-default" href="@Url.GetAdminUrl("tourpackage", "PackageNights")/' + record.Id + '" title="Add Package Nights"><i class="fa fa-plus"></i>&nbsp;</a>';
                            action += '<a class="form-control btn-success" href="@Url.GetAdminUrl("tourpackage", "hotelcreation")/' + record.Id+ '"><i class="fa fa-edit"></i>&nbsp;</a>';
                             action += '<a class="form-control btn-danger delete-row" data-delete href="@Url.GetAdminUrl("tourpackage", "delete")/' + record.Id+ '"><i class="fa fa-trash-o"></i>&nbsp;</a>';
                            return action;

                        }
                    }]
            });
        });

    </script>
}