@model Ticket
@{this.ViewBag.Title = "Ticket LCC";}
<div class="row">
    <div class="col-md-12">
        <div class="box no-top-border">
            <div class="box-header with-border">
                <h3 class="box-title">@this.ViewBag.Title</h3>
            </div>
            <form asp-antiforgery="true" method="post">
                <div class="box-body">
                    <div class="form-group col-sm-6">
                        <label asp-for="EndUserIp" class="control-label"></label>
                        <input asp-for="EndUserIp" data-autocomplete="EndUserIp" class="form-control" />
                        <span asp-validation-for="EndUserIp" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="TokenId" class="control-label"></label>
                        <input asp-for="TokenId" data-autocomplete="TokenId" class="form-control" />
                        <span asp-validation-for="TokenId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="TraceId" class="control-label"></label>
                        <input asp-for="TraceId" data-autocomplete="TraceId" class="form-control" />
                        <span asp-validation-for="TraceId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="ResultIndex"></label>
                        <select asp-for="ResultIndex" selected="@Model.ResultIndex" class="form-control" data-bind="fareQuotes"></select>
                        <span asp-validation-for="ResultIndex"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="AgentReferenceNo" class="control-label"></label>
                        <input asp-for="AgentReferenceNo" class="form-control" />
                        <span asp-validation-for="AgentReferenceNo" class="text-danger"></span>
                    </div>
                </div>
                <div class="dropdown-header" style="font-size:20px;">Passengers</div>
                <div class="box-body" data-bind="llcpassengers" data-index="#ResultIndex"
                     data-autotrigger="@((Model.Passenger != null && Model.Passenger.Count > 0).ToString().ToLower())">
                    @if (Model.Passenger != null && Model.Passenger.Count > 0)
                    {
                        <span></span>
                        @Html.Partial("_LLCPassengers", Model.Passenger)
                    }
                    else
                    {
                        <div align="center" style="min-height:50px;">
                            <img src="~/images/preload/loader.gif" />
                        </div>

                    }
                </div>
                <div class="box-footer" align="center">
                    <button type="submit" class="btn btn-primary">Get Result</button>
                </div>
            </form>
        </div>
        @Html.Partial("_ApiResult")
    </div>
</div>
