@{
    var routeData = this.ViewContext.RouteData.Values;
    var nextView = this.TempData["nextview"] != null ? this.TempData["nextview"].ToString() : "#promotions";
}
<div class="nav-tabs-custom">
    <input type="hidden" name="tabs" data-default="@nextView" value="@nextView" />
    <form class="hide">
        @foreach (var key in routeData.Keys)
        {
            <input type="hidden" name="@key" value="@(routeData[key])" />
        }
        <input type="hidden" name="RowIdentifier" value="" />
    </form>

    <ul class="nav nav-tabs pull-right">
        <li class=""><a href="#add-promotion" class="replaceAdd" data-toggle="tab" data-href="@Url.Action("PromotionAdd",new { @id = 0, @hotelId = this.ViewBag.HotelId})"><i class="fa fa-plus"></i> Add Promotion</a></li>
        <li class=""><a href="#view-promotion" class="replaceView" data-toggle="tab" data-href="@Url.Action("PromotionGrid" ,new { @hotelId = this.ViewBag.HotelId})"><i class="fa fa-list"></i> View List</a></li>
    </ul>
    <div class="tab-content hotel-tabs">
        <div class="tab-pane" id="add-promotion"></div>
        <div class="tab-pane" id="view-promotion"></div>
    </div>
</div>
<script>
    $(document).ready(function (e) {
        $('.replaceView').click();
    })
    $(document).on('click', '.nexttab-promotion', function (e) {
        $('#hotelierCancellation').trigger('click');
    });
    $(document).on('submit', "#formHotelPromotion", function (e) {
        e.preventDefault();
        var $form = $("#formHotelPromotion");
        //$('#formPackagePromotionManage input[name="Id"]').val(0);
            if ($form.valid()) {
                showWaitProcess();
                debugger;
                var model = {}
                model = $form.serialize();
                var ErrorMsg = "";
                $(".text-blank").each(function () {
                    ErrorMsg += $(this).text();
                })
                if (ErrorMsg != "") {
                    hideWaitProcess();
                    return false;
                }
                else {
                    $.ajax({
                        url: '@Url.Action("PromotionAdd", "Hotelier")',
                        type: "JOSN",
                        method: "POST",
                        data: model,
                        success: function (data) {
                            debugger
                            hideWaitProcess();
                            if (data == "success") {
                                swal('', 'Successfully Inserted', 'success');
                                $(".replaceView").click();
                            }
                            else if (data == "update") {
                                swal('', 'Successfully Updated', 'success');
                                $(".replaceView").click();
                            }
                            else
                            {
                                var errors = JSON.parse(data);
                                $.each(errors, function (i, obj) {
                                    var $span = $('span[data-valmsg-for="' + obj.key + '"]');
                                    $span.addClass("field-validation-error").html('<span for="' + obj.key + '" class="field-validation-error">' + obj.error + '</span>');
                                    $span.attr("data-valmsg-replace", "false");
                                })

                                 setTimeout(function () {
                                        $("[data-valmsg-replace]").each(function () {
                                            $(this).attr("data-valmsg-replace", "true");
                                        })
                                    }, 3000);
                                return false;
                            }
                        }
                    });
                }
            }
    })
</script>