@{ this.ViewBag.Title = "Destination Validity"; }
@*<div class="row">
    <div class="col-md-12">
        <div class="box no-top-border">
            <div class="box-header with-border">
                <h3 class="box-title">@this.ViewBag.Title</h3>
            </div>

        </div>
    </div>
</div>*@

@this.Html.Partial("_DataTableGrid")
@*@section scripts {*@
    <script>
        $(function () {
            BindGrid({
                url: "@Url.Action("PackageDestinationValidityGridViewData", "Destination",new {@area="Admin",@packageId=this.ViewBag.TourPackageId })",
                columns: [
                    { "data": "CountryCity", "title": "Country/City", "type": "string" },
                    { "data": "StartDate", "title": "Start Date", "type": "string" },
                    { "data": "EndDate", "title": "End Date", "type": "string" },
                    { "data": "AdultRate", "title": "Adult Rate DBLO (Single)", "type": "string" },
                    { "data": "ChildRate", "title": "Child Rate", "type": "string" },
                    { "data": "InfantRate", "title": "Infant Rate ", "type": "string" },
                    {
                        "data": "IsActive",
                        "title": "Active Status",
                        "class": "text-center",
                        "type": "bool", mRender: function (data, type, record) {
                            var url = '@Url.GetAdminUrl("Destination", "ChangeActiveStatusDestinationValidity")/' + record.DV_Id;
                            return appendToggleCheckBox(url, record.IsActive, 'Successfully Activated', 'Successfully DeActivated')
                        }
                    },
                    {
                        "data": null, "title": "Action",
                        "targets": -1,
                        "class": "column-action text-center",
                        "shorting": false,
                        "orderable": false,
                        "mRender": function (data, type, record) {

                            var action = "";
                            ////action += '<a class="form-control btn-default" href="@Url.GetAdminUrl("tourpackage", "PackageNights")/' + record.Id + '" title="Add Package Nights"><i class="fa fa-plus"></i>&nbsp;</a>';
                            ////action += '<a class="form-control btn-success" href="@Url.GetAdminUrl("RoomConfiguration", "tourpackagecreation")/' + record.Id+ '"><i class="fa fa-edit"></i>&nbsp;</a>';
                            action += '<a class="form-control btn-danger delete-row" data-delete href="@Url.GetAdminUrl("Destination", "DeleteDestinationValidity")/' + record.DV_Id+ '"><i class="fa fa-trash-o"></i>&nbsp;</a>';
                            return action;

                        }
                    }]
            });
        });

    </script>
@*}*@